---
import { getCollection } from "astro:content";
import SiteLayout from "../../layouts/SiteLayout.astro";

const glossary = await getCollection("essays");
---

<SiteLayout title="Essays">
  <h1>Essays</h1>
  <ul>
    {glossary.map((term) => (
      <li><a href={`/essays/${term.slug}/`}>{term.data.title}</a></li>
    ))}
  </ul>
</SiteLayout>
