---
import { getCollection } from "astro:content";
import SiteLayout from "../../layouts/SiteLayout.astro";

const glossary = await getCollection("glossary");
---

<SiteLayout title="Glossary">
  <h1>Glossary</h1>
  <ul>
    {glossary.map((term) => (
      <li><a href={`/glossary/${term.slug}/`}>{term.data.title}</a></li>
    ))}
  </ul>
</SiteLayout>
